<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/03/14
        이름 : 오아람
        내용 : ch09.Spring REST API 실습하기

        REST API 문서
         - 의존성 추가 : springdoc-openapi-starter-webmvc-ui
         - 설정 : SwaggerConfig
         - Swagger 주소 : http://localhost:8080/ch09/swagger-ui/index.html




    -->
</head>
<body>
    <h3>ch09.Spring REST API 실습하기</h3>

    <h4>user1 REST API 실습</h4>
    <!--Swagger 문서 API 실습-->
    <a th:href="@{/user1/list}">user1 실습</a>

    <h4>user2 REST API 실습</h4>
    <!--Swagger 문서 API 실습-->
    <a th:href="@{/user2/list}">uer2 실습</a>

    <h4>user3 REST API 실습</h4>
    <!--Swagger 문서 API 실습-->
    <a th:href="@{/user3/list}">uer3 실습</a>

    <h4>user4 REST API 실습</h4>
    <!--Swagger 문서 API 실습-->
    <a th:href="@{/user4/list}">uer4 실습</a>

    <h4>user5 REST API 실습</h4>
    <!--Swagger 문서 API 실습-->


</body>
</html>