<html>
<head>
    <title>user4::modify</title>
</head>
<body>
    <h3>user4 수정</h3>
    <table border="1">
        <a th:href="@{/user4/list}">목록</a>
    <form th:action="@{/user4/modify}" method="post">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="uid" readonly th:value="${user4DTO.uid}"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" th:value="${user4DTO.name}"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <label><input type="radio" name="gender" value= "M" th:checked="${user4DTO.gender =='M'}">남</label>
                    <label><input type="radio" name="gender" value= "F" th:checked="${user4DTO.gender =='F'}">여</label>
                </td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="text" name="hp" th:value="${user4DTO.age}"></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><input type="text" name="hp" th:value="${user4DTO.hp}"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="addr" th:value="${user4DTO.addr}"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="수정"></td>
            </tr>
    </form>
    </table>
</body>
</html>
