<html>
<head>
    <title>user3::modify</title>

    <script>
        window.onload=function(){
            const form = document.formUser3;

            const url = location.href;
            const param = url.split('?')[1];
            const uid = param.split('=')[1];

            fetch(`/ch09/user3/${uid}`)
                .then(response=>response.json())
                .then(data=>{
                    form.uid.value=data.uid;
                    form.name.value=data.name;
                    form.birth.value=data.birth;
                    form.hp.value=data.hp;
                    form.addr.value=data.addr;
                })
                .catch((err)=>{
                    console.log(err);
                });

            form.onsubmit = function(e){
                e.preventDefault();

                const jsonData={
                    "uid":form.uid.value,
                    "name":form.name.value,
                    "birth":form.birth.value,
                    "hp":form.hp.value,
                    "addr":form.addr.value,
                }

                fetch('/ch09/user3',{
                    method:'PUT',
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify(jsonData)
                })
                    .then(response=>response.json())
                    .then(data=>{
                        console.log(data);

                        if(data!=null){
                            alert('수정 되었습니다.');
                            location.href='/ch09/user3/list';
                        }
                    })
                    .catch((err)=>{
                        console.log(err);
                    });
            }
        }

    </script>
</head>
<body>
    <h3>user3 수정</h3>
    <table border="1">
        <a th:href="@{/user3/list}">목록</a>
    <form name="formUser3" ethod="post">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="uid" readonly ></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" ></td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td><input type="date" name="birth" ></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><input type="text" name="hp" ></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="addr"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="수정"></td>
            </tr>
    </form>
    </table>
</body>
</html>
