<html>
<head>
    <title>user4::modify</title>
    <script>
        window.onload=function(){
            const form=document.formUser4;

            const url = location.href;
            const param = url.split('?')[1];
            const uid = param.split('=')[1];

            fetch(`/ch09/user4/${uid}`)
                .then(response=>response.json())
                .then(data=>{
                    form.uid.value=data.uid;
                    form.name.value=data.name;
                    form.gender.value=data.gender;
                    form.age.value=data.age;
                    form.hp.value=data.hp;
                    form.addr.value=data.addr;
                })
                .catch((err)=>{
                    console.log(err);
                });
            form.onsubmit = function(e){
                e.preventDefault();

                const jsonData={
                    "uid":form.uid.value,
                    "name":form.name.value,
                    "gender":form.gender.value,
                    "age":form.age.value,
                    "hp":form.hp.value,
                    "addr":form.addr.value,
                }
                fetch('/ch09/user4',{
                    method:'PUT'
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify(jsonData);
                })
                    .then(response=>response.json())
                    .then(data=>{
                        console.log(data);

                        if(data!=null){
                            alert('수정 되었습니다.');
                            location.href='/ch09/user4/list';
                        }
                    })
                    .catch((err)=>{
                        console.log(err);
                    });
            }

        }

    </script>

</head>
<body>
    <h3>user4 수정</h3>
    <table border="1">
        <a th:href="@{/user4/list}">목록</a>
    <form name="formUser4" method="post">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="uid" readonly></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <label><input type="radio" name="gender" value= "M">남</label>
                    <label><input type="radio" name="gender" value= "F" >여</label>
                </td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="text" name="hp"></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><input type="text" name="hp"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="addr"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="수정"></td>
            </tr>
    </form>
    </table>
</body>
</html>
