<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">
<div class="container" layout:fragment="content">
    <script>
        let isPassOk = false;

        const rePass = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;

        window.onload = function () {
            const inputPass1 = document.getElementById('inputPass1');
            const inputPass2 = document.getElementById('inputPass2');
            const resultPass = document.getElementById('resultPass');
            // const resultForm = document.getElementsByClassName('resultForm')[0];


            inputPass2.addEventListener('focusout', () => {

                if (inputPass1.value === inputPass2.value) {

                    if (!inputPass1.value.match(rePass)) {
                        inputPass1.classList.add('is-invalid');
                        inputPass2.classList.add('is-invalid');
                        resultPass.classList.add('invalid-feedback');
                        resultPass.innerText = '비밀번호 형식에 맞지 않습니다.';
                        isPassOk = false;
                    } else {
                        inputPass1.classList.add('is-valid');
                        inputPass2.classList.add('is-valid');
                        resultPass.classList.add('valid-feedback');
                        resultPass.innerText = '사용 가능한 비밀번호 입니다.';
                        isPassOk = true;
                    }
                } else {
                    inputPass1.classList.add('is-invalid');
                    inputPass2.classList.add('is-invalid');
                    resultPass.classList.add('invalid-feedback');
                    resultPass.innerText = '비밀번호가 일치하지 않습니다.';
                    isPassOk = false;
                }
            });//비밀번호 동작 확인 오케이

            const btnChange = document.getElementById('btnChange');
            const inputUid = document.getElementById('inputUid');

            console.log("패스워드 : " + inputPass1.value);
            console.log("아이디 : " + inputUid.value);


            btnChange.onclick = async function (e) {
                e.preventDefault();

                const jsonData = {
                    "pass": inputPass1.value,
                    "uid": inputUid.value
                };

                const data = await fetchPost(`/sboard/user/findPasswordChange`, jsonData);

                if (data.result>0 && isPassOk === true) {
                    alert('변경이 되었습니다.');
                    location.href = '/sboard/user/login';
                } else {
                    showModal('비밀번호를 형식에 맞게 입력해주세요');
                }
            }
        }


    </script>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 변경</h3></div>
                <div class="card-body">
                    <form class="resultForm" method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="inputUid" name="uid" readonly
                                   th:value="${userDTO.uid}"/>
                            <label for="inputUid">아이디</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" id="inputPass1" name="pass1"
                                   placeholder="Password"/>
                            <label for="inputPass1">새 비밀번호 입력</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" id="inputPass2" name="pass2"
                                   placeholder="Password"/>
                            <label for="inputPass2">새 비밀번호 확인</label>
                        </div>
                        <div id="resultPass" class="d-block"></div>

                        <p class="small">
                            비밀번호를 변경해 주세요.<br>
                            영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.
                        </p>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/login}" class="btn btn-primary" id="btnChange">변경</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>
