<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout">

<div class="container-fluid px-4" layout:fragment="content">
    <h1 class="mt-4">메인</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            게시판 메인화면 입니다.
        </div>
        <!--
        <div class="card-body">
            <table id="datatablesSimple">

            </table>
        </div>-->
    </div>
    <!-- 내용 끝 -->
</div>

</html>